<p>Last Updated: {{lastUpdated}}</p>
<table class="table stocks-table">
  <thead>
    <tr>
      <th>Name</th>
      <th class="col-ask">Ask</th>
      <th class="col-bid">Bid</th>
      <th class="col-price">Price</th>
      <th class="col-volume">Volume</th>
    </tr>
  </thead>
  <tbody>
    {{#each stocks}}
      <tr>
        <td>{{name}} (<span class="stock-symbol">{{symbol}}</span>)</td>
        <td class="col-ask">
          {{stream-cell value=values.ask.value last=values.ask.last format='$0,0.00'}}
        </td>
        <td class="col-bid">
          {{stream-cell value=values.bid.value last=values.bid.last format='$0,0.00'}}
        </td>
        <td class="col-price">
          {{stream-cell value=values.price.value last=values.price.last format='$0,0.00'}}
        </td>
        <td class="col-volume">
          {{stream-cell value=values.volume.value last=values.volume.last format='0.00a'}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
