{{#feature-flag key="title"}}
  <h1>
    Streaming Stocks
    {{#feature-flag key="subtitle"}}
      with Ember
    {{/feature-flag}}
  </h1>
{{/feature-flag}}

<p>Last Updated: {{lastUpdated}}</p>
<table class="table stocks-table">
  <thead>
    <tr>
      <th>Name</th>
      <th class="col-ask">Ask / Size</th>
      <th class="col-bid">Bid / Size</th>
      <th class="col-price">Price</th>
      <th class="col-volume">Volume</th>
    </tr>
  </thead>
  <tbody>
    {{#each s in stocks}}
      <tr>
        <td>{{s.name}} (<span class="stock-symbol">{{s.symbol}}</span>)</td>
        <td class="col-ask">
          {{stream-cell value=s.values.ask.value last=s.values.ask.last format='$0,0.00'}}
          /
          {{stream-cell value=s.values.askSize.value last=s.values.askSize.last}}
        </td>
        <td class="col-bid">
          {{stream-cell value=s.values.bid.value last=s.values.bid.last format='$0,0.00'}}
          /
          {{stream-cell value=s.values.bidSize.value last=s.values.bidSize.last}}
        </td>
        <td class="col-price">
          {{stream-cell value=s.values.price.value last=s.values.price.last format='$0,0.00'}}
        </td>
        <td class="col-volume">
          {{stream-cell value=s.values.volume.value last=s.values.volume.last format='0.00a'}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
