<div class="row">
  <div class="col-m-12">
    {{#link-to 'index'}}< Back to watchlists{{/link-to}}
    <h1>{{watchlist.name}}</h1>
    <table class="table stocks-table">
      <thead>
        <tr>
          <th>
            <a {{action 'sortBy' 'name'}}>Name</a>
          </th>
          <th class="col-ask">
            <a {{action 'sortBy' 'ask'}}>Ask</a>
            /
            <a {{action 'sortBy' 'askSize'}}>Size</a>
          </th>
          <th class="col-bid">
            <a {{action 'sortBy' 'bid'}}>Bid</a>
            /
            <a {{action 'sortBy' 'bidSize'}}>Size</a>
          </th>
          <th class="col-price">
            <a {{action 'sortBy' 'price'}}>Price</a>
          </th>
          <th class="col-volume">
            <a {{action 'sortBy' 'volume'}}>Volume</a>
          </th>
          <th class="col-remove"></th>
        </tr>
      </thead>
      <tbody>
        {{#each stock in sortedStocks}}
          <tr>
            <td>{{stock.name}} (<span class="stock-symbol">{{stock.symbol}}</span>)</td>
            <td class="col-ask">
              {{stream-cell value=stock.ask.value last=stock.ask.last format='$0,0.00'}}
              /
              {{stream-cell value=stock.askSize.value last=stock.askSize.last}}
            </td>
            <td class="col-bid">
              {{stream-cell value=stock.bid.value last=stock.bid.last format='$0,0.00'}}
              /
              {{stream-cell value=stock.bidSize.value last=stock.bidSize.last}}
            </td>
            <td class="col-price">
              {{stream-cell value=stock.price.value last=stock.price.last format='$0,0.00'}}
            </td>
            <td class="col-volume">
              {{stream-cell value=stock.volume.value last=stock.volume.last format='0.00a'}}
            </td>
            <td class="col-remove">
              <a {{action "removeStock" stock.id}}>&times;</a>
            </td>
          </tr>
        {{else}}
          <tr>
            <td colspan="100%">There are no stocks to display.</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
    <p class="last-updated">
      Last Updated:
      {{#if lastUpdatedDate}}
        {{format-date lastUpdatedDate 'h:mm:ss a'}}
      {{else}}
        Waiting...
      {{/if}}
    </p>
  </div>
</div>
