<div class="row">
  <div class="col-m-12">
    {{#link-to 'index'}}< Back to watchlists{{/link-to}}
    <h1>{{watchlist.name}}</h1>
    <table class="table stocks-table">
      <thead>
        <tr>
          <th>Name</th>
          <th class="col-ask">Ask / Size</th>
          <th class="col-bid">Bid / Size</th>
          <th class="col-price">Price</th>
          <th class="col-volume">Volume</th>
        </tr>
      </thead>
      <tbody>
        {{#each stocks}}
          <tr>
            <td>{{name}} (<span class="stock-symbol">{{symbol}}</span>)</td>
            <td class="col-ask">
              {{stream-cell value=ask.value last=ask.last format='$0,0.00'}}
              /
              {{stream-cell value=askSize.value last=askSize.last}}
            </td>
            <td class="col-bid">
              {{stream-cell value=bid.value last=bid.last format='$0,0.00'}}
              /
              {{stream-cell value=bidSize.value last=bidSize.last}}
            </td>
            <td class="col-price">
              {{stream-cell value=price.value last=price.last format='$0,0.00'}}
            </td>
            <td class="col-volume">
              {{stream-cell value=volume.value last=volume.last format='0.00a'}}
            </td>
          </tr>
        {{else}}
          <tr>
            <td colspan="100%">Loading...</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
    {{#if lastUpdated}}
      <p class="last-updated">Last Updated: {{lastUpdated}}</p>
    {{/if}}
  </div>
</div>
